.red-bg {
    background-color:   #ffd8d9;
    
    
}

.green-bg {
    background-color:  #ffd8d9;


}

.blue-bg {
 background-color:   #ffd8d9;

}

.yellow-bg {
    background-color:   #ffd8d9;

}

.purple-bg {
    background-color:  #ffd8d9;

}\