.red-bg {
   background-color: rgb(66, 49, 34);
    
    
}

.green-bg {
background-color: #607e57;


}

.blue-bg {
 background-color:  #f1e2de;

}

.yellow-bg {
    background-color:  #f1e2de;

}

.purple-bg {
    background-color:  #f1e2de;);

}