.red-bg {
    background-color: rgb(236, 197, 183);
}

.green-bg {
background-color: rgb(243, 241, 241);
}

.blue-bg {
 background-color: rgb(196, 240, 240);

}

.yellow-bg {
background-color: rgb(248, 245, 198);

}

.purple-bg {
background-color: rgb(208, 175, 241);

}