.red-bg {
    background-color: rgb(236, 197, 183);
    height: 780px;
    
}

.green-bg {
background-color: #f1f0f0;
height: 780px;

}

.blue-bg {
 background-color: #f4f3f1;

}

.yellow-bg {
background-color: rgb(248, 245, 198);

}

.purple-bg {
background-color: rgb(208, 175, 241);

}