@import url("layout.css");
@import url("color.css");
/* first resopnsive site */
body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1e2de;
}


header {
 background: url(contact.png);
 

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    color: rgb(66, 49, 34);
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    color:#b3cabf;
}

p {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#b3cabf;
    font-size: 12px;
    padding: 30px;
}
img.logo {
    float: right;
    width: 90px;
}

img.toggle-buttom {
 width: 30px;
 margin: 10px;
 float: left;

}


label {
 width:30px;    
 font-family: Georgia, 'Times New Roman', Times, serif; 
 font-size: 28px;
 color: #e9b8ac;
 margin: 10px ;
 
}


li a {
 text-decoration: none;
 color: #f6dcd7;

}


ul.nav-links{
list-style: none;
padding-left: 0px;
margin: 10px;
padding: 10px;

}


#toggleAssist, 
ul.nav-links {
     display: none;
     text-decoration: none;
     background-color: #F6DCD7;
}

ul.nav-links a:hover{
    color: #b5c5c5;
   
   }

#toggleAssist:checked + ul.nav-links {
 display: block;
 color: black;
 padding: 5px 16px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: absolute;
 background-color: #b3cabf;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 align-content: center;
 justify-content: space-between;

}

button {
    border-radius: 12px;
    background-color:#607e57;;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: #f1e2de;
    font-size: 16px;
    display: block;
  margin-left: auto;
  margin-right: auto;
   


}
.floater.w-100.w-md-50.red-bg.img {
    width: 400px;

}

img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


@media (min-width: 450px) {
   

} /*end of mid-screen */

@media (min-width: 960px){


    .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-links li {
        display: inline-block;
        padding: 10px;
        border-bottom: none;
       
       
    }


    #toggleAssist, ul.nav-links {
    display: block;
    color: black;
    padding: 5px 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b3cabf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
   
}

ul.nav-links a:hover{
 color: #b5c5c5;
 
}


}
header{
height: 700px

}
img {
    width: 400px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    color:rgb(66, 49, 34);
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    color: #b3cabf;
}

} /* END OF DESKTOP VERSIOM */