@import url("layout.css");
@import url("color.css");
/* first resopnsive site */
body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
 background: url(header.jpg);
 height: 400px;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
    color: rgb(66, 49, 34);
}

p {
    padding-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   

}
img.logo {
    float: right;
    width: 90px;
}

img.toggle-buttom {
 width: 30px;
 margin: 10px;
 float: left;

}


label {
 width:30px;    
 font-family: Georgia, 'Times New Roman', Times, serif; 
 font-size: 28px;
 color: #e9b8ac;
 margin: 10px ;
 
}


li a {
 text-decoration: none;
 color: #f6dcd7;

}


ul.nav-links{
list-style: none;
padding-left: 0px;
margin: 10px;
padding: 10px;

}


#toggleAssist, 
ul.nav-links {
     display: none;
     text-decoration: none;
     background-color: #F6DCD7;
}

ul.nav-links a:hover{
    color: #b5c5c5;
   
   }

#toggleAssist:checked + ul.nav-links {
 display: block;
 color: black;
 padding: 5px 16px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 align-content: center;
 justify-content: space-between;

}


@media (min-width: 450px) {
   

} /*end of mid-screen */

@media (min-width: 960px){


    .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block;
        justify-content: center;
    }

    .nav-links li {
        display: inline-block;
        padding: 10px;
        border-bottom: none;
    }


    #toggleAssist, ul.nav-links {
    display: block;
    color: black;
    padding: 5px 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: center;
}

ul.nav-links a:hover{
 color: #b5c5c5;
 
}

.div.floater.w-100.w-md-50.red-bg {
    height: 670px;

}
.div.floater.w-100.w-md-50.green-bg {
    height: 670px;

}

p {
    padding-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 90px;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    color: rgb(66, 49, 34);
}

} /* END OF DESKTOP VERSIOM */